<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="venkatesh">
  <test thread-count="5" parallel="classes" name="chinna1">
    <classes>
      <class name="dec8.FirstTestNGclass"/>
    </classes>
  </test> <!-- chinna -->
  <test thread-count="5" parallel="classes" name="chinna2">
    <classes>
      <class name="dec8.SecondTestNGclass"/>
    </classes>
     </test> <!-- chinna -->
</suite> <!-- venkatesh -->
